@tailwind base;

@tailwind components;

@tailwind utilities;

.dropdown:hover .dropdown-content {
    display: block;
}

.side-menu-orange {

background: rgb(251, 126, 46); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(251, 126, 46, 1) 0%, rgba(254, 174, 17, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(251, 126, 46, 1) 0%, rgba(254, 174, 17, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(251, 126, 46, 1) 0%, rgba(254, 174, 17, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb7e2e', endColorstr='#feae11', GradientType=1); /* IE6-9 */
}
.side-menu-green {
    background: rgb(107, 175, 10); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(107, 175, 10, 1) 0%, rgba(150, 225, 10, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(107, 175, 10, 1) 0%, rgba(150, 225, 10, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(107, 175, 10, 1) 0%, rgba(150, 225, 10, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb7e2e', endColorstr='#feae11', GradientType=1); /* IE6-9 */
}

.side-menu-tw {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb7e2e+0,feae11+100,2989d8+100,207cca+100,feae11+100 */
    background: rgb(0, 172, 237); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0, 172, 237, 1) 0%, rgba(29, 202, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 172, 237, 1) 0%, rgba(29, 202, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 172, 237, 1) 0%, rgba(29, 202, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb7e2e', endColorstr='#feae11', GradientType=1); /* IE6-9 */
}

.active {
    @apply side-menu-orange;
}

.h-100 {
    height: 900px;
}

.h-98 {
    height: 600px;
}

.h-50 {
    height: 300px;
}

.w-1\/23 {
    width: 23%;
}

.w-1\/8 {
    width: 14%;
}

.w-1\/30 {
    width: 32%;
}
